.redes-sociais {
    display: flex;
    flex-direction: row ; /* Empilha os itens verticalmente para dispositivos móveis */
    align-items: center;
    gap: 20px; /* Espaço entre os links */
    padding: 10px;

}

.redes-sociais a {
    text-decoration: none;
}

.redes-sociais img {
    margin-top: 0;
    width: 80px; /* Ajusta o tamanho das imagens para caberem em telas menores */
    height: 80px;
}

.redes-sociais figcaption {
    text-align: center;
    font-size: 12px; /* Mantém o texto legível em dispositivos móveis */
    color: #333;
}


h2,h3
.input-box label,
.dados_pessoais input,
.dados_pessoais button {
    margin-bottom: 5px; /* Diminui o espaço entre os elementos */
    display: block; /* Garante que cada um fique em sua própria linha */
}

.box .dados_pessoais, input {
    border-radius: 3px;
    margin: 2px;
    border: none;
    width: auto;
    background-color: var(--cinza-3) ;
    color: var(--cinza-9);
}
h2 {
    display: block;
    flex-direction: column;
    justify-content: left ;
    border-bottom: 1px solid;
}
.input-box {
    display: block ;
    flex-direction: column;
    align-items: start ;
    justify-content: center;
    margin: 1px;
    
}

input[type="text"] {
    min-width: 230px;
    width: auto;
}

input[type="text"]::placeholder {
    color: var(--cinza-1);
    transition: color 0.3s ease;
    background-color: var(--cinza-6);
    /*letter-spacing: 3px;*/
    padding: 4px;    
}

input[type="text"]:hover::placeholder {
    color: var(--cinza-1);
    /*letter-spacing: 3px;*/
}


button{
    background-color: var(--cinza-8);
    border-radius: 3px;
    border: none;
    margin: 2px;
    min-width: 230px;
    width: auto;
    text-align: start;
}

button i{
    margin-left: 2px;
    margin-right: 2px;
}

button.zap{
    background-color: #4b7940 ;
    color: var(--cinza-9);
}

img {
    width: auto;
    max-width: 240px;
    border-radius: 10px;
    margin-top: 5px;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: auto;
    max-width: 250px;

    border-radius: 10px;

}

section.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--cinza-3) ;
    
    border-radius: 10px;
   
    width: auto;

    max-width: 250px;
}

body {
    display: flex;
   
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
    color: var(--cinza-9);
    background-color: var(--cinza-5);
    width: auto;
    max-width: none;
    height: 100VH;  
    border-radius: 10px;
}

:root {
    --cinza-1: #1d1d1d; /* Cinza muito escuro */
    --cinza-2: #363636; /* Cinza escuro */
    --cinza-3: #4f4f4f; /* Cinza médio-escuro */
    --cinza-4: #696969; /* Cinza médio */
    --cinza-5: #808080; /* Cinza clássico */
    --cinza-6: #979797; /* Cinza médio-claro */
    --cinza-7: #adadad; /* Cinza claro */
    --cinza-8: #c4c4c4; /* Cinza muito claro */
    --cinza-9: #dadada; /* Cinza quase branco */
    --cinza-10: #ffffff; /* Branco */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





